/* Global Styles will go here */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #141E30;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  /* Removed overflow: hidden to allow natural scroll if needed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}